/** This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body{
  font-family: "Abel"
}
.top-bar{
  background-color: #3A3D45;
  border-bottom: 1px solid #d3d3d3;
}

.fa{
  color:#FF7616;
}

.top-bar-title{
  margin-left: 20px;
}

.title{
  font-family: "Coiny",cursive;
  color:#FF7616;
}

.title:hover{
  opacity: 0.8;
  color:#FF7616;

}

.content{
  min-height: 100vh;
  height: 100%;
  border-left: 1px solid #d3d3d3;
}

footer{
  border-top: 1px solid #d3d3d3;
}

.sidebar-search{
  margin-top:50px;
  margin-right: 0;
  /*display: inline-block;*/
}

form input[type='text'] {
   border-radius: 50px;
   /*display: inline-block;*/
 }

 form input[type='submit'] {
    border-radius: 3px;
    /*display: inline-block;*/
  }

  .search-form{
    display:inline-block;
  }

.button{
  /*background-color: #BAD107;*/
  background-color: #ff7616;
}

.button:hover{
  background-color:#ff7616;
  opacity: .8;
}

.index-main{
  text-align:center;
  margin-top:15%;
}

.column{
  margin-bottom: 5%
}

.search-results{
  text-align: center;
  font-size: 1.5em;
}

.page, .next, .last{
  display:inline-block;
}

.pagination{
  text-align: center
}

a{
  color: #BAD107;
  font-weight: bold;
}

a:hover{
    color: #BAD107;
    font-weight: bold;
    opacity: .8;
}
